html {}


/*   #E8E8E8#5588A3#145374#00334E*/

body {
    font-size: 22px;
    color: #fff;
    background-image: url("../images/stars-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

i {
    margin: 8px;
}

i.fa-heart {
    color: red;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: gold;
    text-decoration: none;
}

img {
    margin: 10px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

button {
    max-width: 200px;
    background-color: #5588A3;
}

#nav-bar {
    display: flex;
    flex-basis: fit-content;
}

#nav-bar a {
    color: #fff;
}

#nav-bar>ul {
    display: flex;
}

#nav-bar>ul>li {
    margin: 0 15px;
    padding-top: 50px;
}

#nav-bar>ul>:not(:last-child):after {
    content: "|";
    color: #e4e3e3;
    margin-left: 30px;
}

#header {
    display: flex;
    height: 140px;
    padding: 20px;
    align-items: center;
    background-color: rgba(0, 51, 78, 0.8);
    justify-content: space-between;
    /*-webkit-box-shadow: 0px 10px 32px -11px rgba(125,124,125,1);
    -moz-box-shadow: 0px 10px 32px -11px rgba(125,124,125,1);
    box-shadow: 0px 10px 32px -11px rgba(125,124,125,1);*/
}

#header>div>ul {
    display: flex;
}

#header>div>ul>li {
    margin: 0 15px;
}

#header>div>ul>li>a {
    color: #fff;
}

#footer {
    padding-top: 15px;
    height: 60px;
    text-align: center;
    background-color: rgba(20, 83, 116, 0.8);
}

#gameboard {
    display: flex;
    flex-grow: 1;
}

.hide {
    display: none;
}

.title {
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    text-shadow: 2px 3px 5px black;
    font-family: "Helvetica", sans-serif;
    height: 140px;
    padding: 50px 10px 0 10px;
    background-color: red;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.list-item {
    padding-left: 5px;
}

.gameFrame {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    margin: 10px auto;
    background-color: rgba(232, 232, 232, 0.8);
}

.characterFrame, .battleFrame {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Marvel', sans-serif;
}

.characterFrame {
    margin: 10px auto;
}

.battleFrame {
    justify-content: space-between;
}

.message-board {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 10px 10px;
  margin: 0 auto;
}

.fighter {
    border: solid black;
    margin: 18px;
    padding: 5px;
    background-color: #eee;
}

.fighter>ul {
    padding: 4px;
}

.fighter>ul>li {
    margin: 2px;
    color: black;
}

.fighterStats {}

.offender {}

.defender {
    background-color: #5588A3;
}

.drop-shadow {
    -webkit-box-shadow: 9px 14px 44px -8px rgba(125, 124, 125, 1);
    -moz-box-shadow: 9px 14px 44px -8px rgba(125, 124, 125, 1);
    box-shadow: 9px 14px 44px -8px rgba(125, 124, 125, 1);
}
